  #logo{
    height:100px; 
    width:100px; 
    float:left;
    margin-left: 3px; 
    margin-top: 0px;
    padding: 0px;
}        

#profile{
    height:70px; 
    width:70px; 
    float:left;
    margin-left: 3px; 
    margin-top: 0px;
    padding: 0px;
}        
            
